<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <title>Message Chat Box - Bootsnipp.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'tcserver/style.css' %}" />
<!--  <link rel="stylesheet" type="text/css" href="../../static/tcserver/style.css" />-->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/75cd0848ae.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container">
      <h3 class=" text-center" style="padding:20px">ChatSafe</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recent</h4>
              </div>

            <!-- Request access button -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#requestAccessModal">
              Get Access
            </button>
            <!-- Request access modal -->
            <div class="modal fade" id="requestAccessModal" tabindex="-1" role="dialog" aria-labelledby="requestAccessModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="requestAccessModalTitle">Request Access</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                      To request access to this chat's history, record yourself saying this random word.
                      Your friends get this when you send the request, and that way they know you're you,
                      not a hacker or a robot.
                    </p>
                    <label for="random-word-request" class="col-form-label">Word:</label>
                    <div class="row">
                      <div class="col-10">
                        <div class="alert alert-info" id="random-word-request" role="alert">
                          pineapple
                          <!-- Random word API: -->
                          <!-- https://random-word-api.herokuapp.com/word?key={BOLFEI3L}&number={number_of_words} -->
                        </div>
                      </div>
                      <div class="col-2"><button class="btn btn-dark btn-lg">
                        <i class="fas fa-microphone"></i>
                      </button></div>
                    </div>
                    <form>
                      <div class="form-group">
                        <label for="reason" class="col-form-label">Reason for access:</label>
                        <textarea class="form-control" id="reason"
                          placeholder="(required)"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info" data-dismiss="modal">Send request</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Notifications button, connected to grant access modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#grantAccessModal">
              <i class="fas fa-bell" style="padding-right:5px"></i><span class="badge badge-light">1</span>
              <span class="sr-only">pending access requests</span>
            </button>
            <!-- Grant access modal -->
            <div class="modal fade" id="grantAccessModal" tabindex="-1" role="dialog" aria-labelledby="grantAccessModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="grantAccessModalTitle">Access
                      Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                    <span class="text-info">Corwin Shanner</span> has requested
                    access to the chat history for 
                    <span class="text-info">CPEN442 Bros</span>. Make sure to listen to the audio clip to
                      verify that it's really them, and if you're not sure, follow up with
                      them!
                    </p>
                    <label for="random-word-grant" class="col-form-label">Random word:</label>
                    <div class="row">
                      <div class="col-10">
                        <div class="alert alert-info" id="random-word-grant" role="alert">
                          pineapple
                        </div>
                      </div>
                      <div class="col-2"><button class="btn btn-dark btn-lg">
                        <i class="fas fa-play-circle"></i>
                      </button></div>
                    </div>
                    <label for="grant-reason"
                           class="col-form-label">Reason:</label>
                    <p class="d-xl-flex p-2 bd-highlight bg-light" id="grant-reason">
                      Uhh, I just forgot that password you sent earlier, sorry.
                    </p>
                    <label for="members-accepted"
                           class="col-form-label">Members: (<span class="text-info">4</span> needed):</label>
                    <p class="bd-highlight bg-light" id="members-accepted">
                      John Carrey - <span
                       class="text-success">accepted</span><br>
                      Jimmy Buffet - <span
                       class="text-danger">denied</span><br>
                      Deirdre Haluna - <span class="text-secondary">no response
                      yet</span><br>
                      Helena Wackaberry - <span class="text-secondary">no
                        response yet</span>
                    </p>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-dark"
                      data-dismiss="modal">Deny</button>
                    <button type="button" class="btn btn-info"
                      data-dismiss="modal">Accept</button>
                  </div>
               </div>
              </div>
            </div>

            <!-- New chat button -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newChatModal">
              <i class="fas fa-plus"></i>
            </button>
            <!-- New chat modal -->
            <div class="modal fade" id="newChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="newChatModalTitle">New Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="chat-name" class="col-form-label">Chat name:</label>
                        <input type="text" class="form-control" id="chat-name">
                      </div>
                      <div class="form-group">
                        <label for="usernames" class="col-form-label">Members:</label>
                        <textarea class="form-control" id="usernames" placeholder="user1, user2, ..."></textarea>
                        <small id="membersHelpBlock" class="form-text text-muted">
                          Enter the members of the chat by their usernames,
                          separated by commas.
                        </small>
                      </div>
                      <div class="form-group">
                        <label for="chat-threshold" class="col-form-label">Threshold:</label>
                        <input type="text" class="form-control" id="chat-threshold">
                        <small id="thresholdHelpBlock" class="form-text text-muted">
                          Enter the minimum number of members needed to grant access to the chat history.
                          This must be equal or greater than the number of members in the chat.
                        </small>
                      </div>
                      <div class="form-group">
                        <label for="expiry-time" class="col-form-label">Default message expiry time:</label>
                        <select class="custom-select my-1 mr-sm-2" id="expiry-time">
                          <option selected>Choose...</option>
                          <option value="1">1 min</option>
                          <option value="5">5 min</option>
                          <option value="10">10 min</option>
                          <option value="30">30 min</option>
                          <option value="60">1 hr</option>
                          <option value="240">4 hr</option>
                          <option value="600">10 hr</option>
                          <option value="1440">24 hr</option>
                        </select>
                        <small id="expiryHelpBlock" class="form-text text-muted">
                          This is how long each message is available to see
                          before it deleted locally and encrypted.
                        </small>

                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info" data-dismiss="modal">Create</button>
                  </div>
                </div>
              </div>
            </div>

            </div>

            <!-- Available chats, left column -->
            <div class="inbox_chat">
              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                  <div class="chat_ib">
                    <h5>CPEN442 Bros<span class="chat_date">Nov 25</span></h5>
                    <p>Sup man</p>
                  </div>
                </div>
              </div>

              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                  <div class="chat_ib">
                    <h5>David Zhang<span class="chat_date">Nov 25</span></h5>
                    <p>Hey bro</p>
                  </div>
                </div>
              </div>

              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                  <div class="chat_ib">
                    <h5>Darren Whiteside<span class="chat_date">Nov 25</span></h5>
                    <p>This is definitely a test</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Current chat window, right column -->
          <div class="mesgs">
            <div class="msg_history">

              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>Lorum ipsum text, probably</p>
                    <span class="time_date"> 7:26 PM | Today (expires in 13 mins)</span>
                  </div>
                </div>
              </div>

              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>Yeah, definitely lorum ipsum</p>
                  <span class="time_date"> 7:27 PM | Today (expires in 14 mins)</span>
                </div>
              </div>

              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>Dolor sit amet?</p>
                    <span class="time_date"> 7:27 PM | Today (expires in 14 mins)</span>
                  </div>
                </div>
              </div>

              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <span class="time_date"> 7:27 PM | Today (expires in 15 mins)</span>
                </div>
              </div>

              <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="profile-pic"> </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>Highly confidential message which should probably expire and never see the light of day again unless requested</p>
                    <span class="time_date"> 7:28 PM | Today | (expires in 15
                      mins)</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" placeholder="Type a message" />
                <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</body>

</html>
